* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.navbar {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}

.navbar-list ul {
  display: flex;
  list-style-type: none;
}

.navbar-list a {
  margin-left: 2rem;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #747474;
}

.navbar-logo:hover {
  opacity: 50%;
}

hr {
  opacity: 30%;
}

#hero {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.hero-title h1 {
  font-size: xx-large;
  overflow-wrap: break-word;
  inline-size: 23rem;
  margin-bottom: 1rem;
}

.hero-title strong {
  display: block;
  overflow-wrap: break-word;
  inline-size: 22rem;
}

#hero-about {
  margin-left: 16rem;
  margin-right: 16rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

#hero-about p {
  inline-size: 40rem;
  font-family: "Archivo", sans-serif;
}

#rescue {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  inline-size: 40rem;
  justify-content: center;
}

.stage-icon {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}

.rescue-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
